<a href="https://colab.research.google.com/github/Gizasinasci86/Programa-o-l-pis/blob/main/exer_estruturas_de_dados_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Exercícios:** Listas

**1)** Crie uma lista com cinco nomes e imprima na tela o terceiro nome como no exemplo a seguir: 


> O terceiro nome da minha lista é Camila.

In [5]:
nomes=['Ana', 'Rafael', 'Geovanna', 'Geovana', 'Giovana', 'Giovane', 'Maria Clara', 'Maisa','João', 'Eloisa','Daniel', 'João Henrique', 'João Victor','Manuel']

print(f'O terceiro nome da minha lista é {nomes[2]}.')

O terceiro nome da minha lista é Geovanna.

**2)** Adicione o nome Fábio na sua lista.

In [6]:
nomes.append('Fábio')

nomes

['Ana',
 'Rafael',
 'Geovanna',
 'Geovana',
 'Giovana',
 'Giovane',
 'Maria Clara',
 'Maisa',
 'João',
 'Eloisa',
 'Daniel',
 'João Henrique',
 'João Victor',
 'Manuel',
 'Fábio']

**3)** Adicione o nome Alice no início da sua lista.

In [7]:
nomes.insert(0, 'Alice')

nomes

['Alice',
 'Ana',
 'Rafael',
 'Geovanna',
 'Geovana',
 'Giovana',
 'Giovane',
 'Maria Clara',
 'Maisa',
 'João',
 'Eloisa',
 'Daniel',
 'João Henrique',
 'João Victor',
 'Manuel',
 'Fábio']

**4)** Coloque sua lista de nomes em ordem alfabética.

In [8]:
nomes.sort()
nomes

['Alice',
 'Ana',
 'Daniel',
 'Eloisa',
 'Fábio',
 'Geovana',
 'Geovanna',
 'Giovana',
 'Giovane',
 'João',
 'João Henrique',
 'João Victor',
 'Maisa',
 'Manuel',
 'Maria Clara',
 'Rafael']

**5)** Remova o terceiro nome da sua lista.

In [9]:
nomes.remove('Daniel')

nomes

['Alice',
 'Ana',
 'Eloisa',
 'Fábio',
 'Geovana',
 'Geovanna',
 'Giovana',
 'Giovane',
 'João',
 'João Henrique',
 'João Victor',
 'Maisa',
 'Manuel',
 'Maria Clara',
 'Rafael']